include roundTemplates/templates

.tab-wrapper 
    .tab-inner
        .menu-container 
            .dropdown  
                button.btn.btn-warning.dropdown-toggle#file-button(type="button" data-bs-toggle="dropdown" aria-expanded="false") File
                ul.dropdown-menu(aria-labelledby="file-button")
                    li 
                        a.dropdown-item#file-new
                            .menu-item  
                                div New 
                                div Ctrl+M
                    li 
                        a.dropdown-item#file-open 
                            .menu-item
                                div Open
                                div Ctrl+O 
                    li 
                        a.dropdown-item#file-save
                            .menu-item 
                                div Save 
                                div Ctrl+S 
                    li 
                        a.dropdown-item#file-close
                            .menu-item 
                                div Close 
                                div Ctrl+Q
            .dropdown  
                button.btn.btn-warning.dropdown-toggle#action-button(type="button" data-bs-toggle="dropdown" aria-expanded="false") Actions
                ul.dropdown-menu(aria-labelledby="action-button")
                    li 
                        a.dropdown-item#action-pop 
                            .menu-item 
                                div Auto-populate points
                                div Ctrl+F
                    li 
                        a.dropdown-item#action-assign 
                            .menu-item 
                                div Assign to host 
                                div Ctrl+H
        .game-container
            ul.nav.nav-tabs.nav-fill#round-tabs(role="tablist")
                li.nav-item(role="presentation")
                    button.nav-link.active#round-tab-0(data-bs-toggle="tab" data-bs-target=`#r0` type="button" role="tab" aria-controls="games" aria-selected=`true`) Info
                - var i = 1
                while i <= 7
                    li.nav-item(role="presentation")
                        button.nav-link(data-bs-toggle="tab" data-bs-target=`#r${i}` type="button" role="tab" aria-controls="games" aria-selected=`false` round=`${i}`)= i
                    - ++i 
            .tab-content#round-tab-content
                .tab-pane.fade.show.active#r0(role="tabpanel" aria-labelledby="round-tab-0")
                    include roundTemplates/settings
                .tab-pane.fade#r1(role="tabpanel" aria-labelledby="round-tab-1")
                    +generalRound(1,8,true)
                .tab-pane.fade#r2(role="tabpanel" aria-labelledby="round-tab-2")
                    +pictureRound(2)
                .tab-pane.fade#r3(role="tabpanel" aria-labelledby="round-tab-3")
                    +generalRound(3,8,true)
                .tab-pane.fade#r4(role="tabpanel" aria-labelledby="round-tab-4")
                    +wildcard(4)
                .tab-pane.fade#r5(role="tabpanel" aria-labelledby="round-tab-5")
                    +generalRound(5,8,true)
                .tab-pane.fade#r6(role="tabpanel" aria-labelledby="round-tab-6")
                    +audioRound(6)
                .tab-pane.fade#r7(role="tabpanel" aria-labelledby="round-tab-7")
                    +generalRound(7,8,true)
            
            