.tab-wrapper
    .tab-inner
        #gig-control-panel.control-panel 
            .button-container 
                button#create-new-gig(data-bs-toggle="modal" data-bs-target="#create-gig-modal") Create New Gig
            .button-container 
                button#browse-gig(data-bs-toggle="modal" data-bs-target="#edit-gig-modal") Browse/Edit Gigs
