.tab-wrapper
    .tab-inner
        #user-control-panel.control-panel 
            .button-container 
                button#create-new-user(data-bs-toggle="modal" data-bs-target="#create-user-modal") Create New User
            .button-container 
                button#browse-users(data-bs-toggle="modal" data-bs-target="#edit-user-modal") Browse/Edit Users
