.tab-wrapper
    .tab-inner
        #venue-control-panel.control-panel 
            .button-container 
                button#create-new-venue(data-bs-toggle="modal" data-bs-target="#create-venue-modal") Create New Venue
            .button-container 
                button#browse-venue(data-bs-toggle="modal" data-bs-target="#edit-venue-modal") Browse/Edit Venues
