extends _base

block styles 
    link(rel="stylesheet" href="/css/messages.css")

block content 
    #game-message.message.invisible-div
    input(type="hidden" id="redirect" value=`${redirect || '/profile'}`)
    #join-div.centered.mb-3
        form#login-form
            label.form-label(for="email") E-Mail:
            input.form-control#email(type="text" placeholder="E-Mail" required)            
            label.form-label(for="password") Password:
            input.form-control#password(type="password" placeholder="Password" required)            
            div(style="width: 100%; display: flex; margin-top: 3vh")
                button.join-button Log In

    script(src="/js/login.js" type="module")