extends _base

block styles
    link(href="/css/host.css" rel="stylesheet")
    link(href="/css/play.css" rel="stylesheet")

block mobilemenu 

block modals 
    include play/modals/createTeam
    include play/modals/requestJoin

block content 
    #join-div.centered.mb-3
        form#join-form
            label.form-label(for="name") Your name:
            input.form-control#name(type="text" placeholder="Your name" value="bob" required)            
            label.form-label(for="join-code") Join code:
            input.form-control#code(type="text" placeholder="Join code" value="1111" required)            
            div(style="width: 100%; display: flex; margin-top: 3vh")
                button(type='submit').join-button Join
    #game-container.invisible-div
        #slideshow-outer.w-75.invisible-div
            .slideshow-container.w-100.ratio(style="--bs-aspect-ratio: 75%;")
                #game-carousel.carousel.slide(data-bs-ride="carousel" data-bs-interval="false" data-bs-touch="false")
                    .carousel-inner#game-carousel-inner 
                    button.carousel-control-prev(type="button" data-bs-target="#game-carousel" data-bs-slide="prev")
                        span.carousel-control-prev-icon(aria-hidden="true")
                        span.visually-hidden Previous
                    button.carousel-control-next(type="button" data-bs-target="#game-carousel" data-bs-slide="next")
                        span.carousel-control-next-icon(aria-hidden="true")
                        span.visually-hidden Next
        #game-control-container
            ul.nav.nav-tabs.nav-fill#admin-tabs(role="tablist")
                li.nav-item(role="presentation")
                    button.nav-link.active#game-tab(data-bs-toggle="tab" data-bs-target="#game" type="button" role="tab" aria-controls="game" aria-selected="true") Game Chat
                li.nav-item(role="presentation")
                    button.nav-link#team-tab(data-bs-toggle="tab" data-bs-target="#team" type="button" role="tab" aria-controls="team" aria-selected="false") Team
            .tab-content#player-tabs-content
                .tab-pane.fade.show.active#game(role="tabpanel" aria-labelledby="user-tab")
                    .tab-wrapper 
                        .tab-inner
                            .chat-container#all-chat
                            .input-group
                                input#chat-message.form-control(type="text" placeholder="Message everyone" aria-label="Message everyone" aria-describedby="send-chat")
                                button.btn.btn-secondary#send-chat(type="button") Send
                .tab-pane.fade#team(role="tabpanel" aria-labelledby="user-tab")
                    .tab-wrapper 
                        .tab-inner
                            .team-setup
                                button#create-team(type="button") Create Team
                                .team-list-container
                                    .team-list
                            .team-container.invisible-div
                                ul.nav.nav-tabs.nav-fill#team-tabs(role="tablist")
                                    li.nav-item(role="presentation")
                                        button.nav-link.active#team-chat-tab(data-bs-toggle="tab" data-bs-target="#team-chat" type="button" role="tab" aria-controls="team-chat" aria-selected="true") Team Chat
                                    li.nav-item(role="presentation")
                                        button.nav-link#team-answer-tab(data-bs-toggle="tab" data-bs-target="#team-answers" type="button" role="tab" aria-controls="team-answers" aria-selected="false") Answers
                                .tab-content#team-tabs-content
                                    .tab-pane.fade.show.active#team-chat(role="tabpanel" aria-labelledby="user-tab")
                                        .tab-wrapper 
                                            .tab-inner
                                                #team-wrapper
                                                    #team-roster
                                                        h5 #[span#team-roster-name Team name here] (#[a#change-team-name Change])
                                                        ul#team-roster-list
                                                    #team-chat-wrapper
                                                        .chat-container#team-chat-container
                                                        .input-group
                                                            input#team-message.form-control(type="text" placeholder="Message team" aria-label="Message team" aria-describedby="send-chat")
                                                            button.btn.btn-secondary#send-team-chat(type="button") Send
                                    .tab-pane.fade.answer-container#team-answers
                                        .tab-wrapper 
                                            .tab-inner
                                                #team-answer-container
                                                    include play/teamAnswers
                                    


block menubutton

block scripts 
    script(src="/socket.io/socket.io.js")
    script(src="/js/play.js" type="module")
    script(src="/js/utils/menu.js" type="module")