html,
body,
.main-content {
	overflow-y: hidden;
	overflow-x: hidden;
}
.game-container div {
	max-width: 100%;
	overflow-x: hidden;
}
#admin-console {
	margin-top: 3vh;
	width: min(100%, 1000px);
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.control-panel {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.control-panel > .button-container {
	width: 100%;
	padding: 2vh;
}

.button-container > button {
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	background-color: #ccc;
	font-weight: bold;
}

.button-container > button:hover {
	background-color: #fff;
}

#user-table-container,
#saved-game-container {
	width: 100%;
}

#user-table-container table,
#user-table-container tr {
	width: 100%;
	padding: 5px;
}

#user-table-container td {
	padding: 5px;
}

th {
	text-align: center;
}

#user-table-container td:not(:nth-child(1)) {
	text-align: center;
}

#user-table-container td:last-child {
	display: flex;
}

tr:not(:first-child):hover {
	background-color: var(--color-2a);
}

td button {
	margin: auto;
	border-radius: 5px;
}

td button:not([disabled]):hover {
	background-color: yellow;
}

#create-user-modal,
#host-modal {
	z-index: 100000;
}

#user-table-container,
#saved-game-container {
	max-height: 400px;
	overflow-y: scroll;
}

.game-row {
	display: flex;
	border-bottom: 1px solid yellow;
	margin-top: 5px;
}

.game-info {
	flex: 1;
}

.game-row > .actions {
	display: flex;
	margin: auto;
	padding: 10px;
}

.game-row > .actions > button {
	margin: 10px;
}

.edit-button {
	opacity: unset;
	background: white url('/img/edit.svg') center/1em auto no-repeat;
}

.delete-button {
	opacity: unset;
	background: white url('/img/delete.svg') center/1em auto no-repeat;
}

.add-button {
	opacity: unset;
	background: white url('/img/add.svg') center/1em auto no-repeat;
}

.restore-button {
	background: white url('/img/restore.svg') center/1em auto no-repeat;
}

.dropdown-toggle {
	font-weight: bold;
}
.menu-container {
	display: flex;
	flex-direction: row;
}

.dropdown {
	margin-bottom: 10px;
	margin-right: 10px;
}

.menu-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-weight: bold;
}

.menu-item > div:first-child {
	margin-right: 20px;
}

.nav > p {
	padding: 10px;
	margin: auto;
	font-size: 2vh;
}

.game-container {
	display: flex;
	flex-direction: column;
}

.round-container {
	width: 100%;
	max-width: 100%;
	max-height: 55vh;
	padding: 10px;
}

.round-container hr {
	background-color: unset;
	width: 40%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	border: none;
	border-top: 10px dotted yellow;
	opacity: 0.5;
}

.warning {
	border: 5px solid red;
}

.game-container .tab-pane {
	overflow-x: hidden;
	max-width: 100%;
}
.question-container,
.input-container,
.video-container {
	display: flex;
	flex-direction: column;
	font-size: 2vh;
}
.question-container,
.question-container-bottom {
	max-width: 100%;
}

.question-label,
.input-label,
.video-label {
	margin-top: 0.5rem;
	white-space: nowrap;
	overflow: hidden;
	font-weight: bold;
}

.question-container input,
.question-container textarea,
.input-container input,
.input-container textarea,
.video-container input {
	background-color: #ccc;
	font-weight: bold;
}

.matching-answer-container {
	display: flex;
	flex-direction: column;
}

.question-container-bottom,
.control-button-container,
.matching-answer-row,
.host-list-container {
	display: flex;
	flex-direction: row;
}

.matching-answer-row {
	align-items: center;
	border-bottom: 1px solid yellow;
}

.host-list-container {
	flex-wrap: wrap;
}

.matching-prompt-div,
.matching-answer-div,
.host-div {
	border-radius: 5px;
	margin: 5px;
	background-color: darkblue;
	border: 1px solid yellow;
	padding: 10px;
	font-weight: bold;
}

.matching-prompt-div,
.matching-answer-div {
	flex: 1;
}

.host-div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.host-div > div {
	margin-right: 15px;
	margin-left: 15px;
}

.matching-prompt-div > p,
.matching-answer-div > p {
	margin: auto;
}

.control-button-container div {
	margin: auto;
}

.control-button-container button {
	margin: auto;
	align-items: center;
}

.question-container-bottom > .question-container,
.question-container-bottom > .input-container {
	flex: 1;
}

.picture-question-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.picture-question-container > div {
	margin: 10px;
	max-height: 100%;
}

.picture-answer-container {
	flex: 1;
}

.question-container img {
	max-height: 150px;
	max-width: 150px;
}

.image-upload-label {
	border: 1px solid yellow;
	font-weight: bold;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}

.image-upload {
	display: none;
}

.unsaved-changes {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 75%;
}

.unsaved-changes > div {
	color: black;
	background-color: orange;
	font-weight: bold;
	border-radius: 5px;
	display: flex;
	padding: 5px;
}

.unsaved-changes > div > p {
	margin: auto;
}

#host-table-container {
	display: flex;
	flex-direction: row;
	overflow-y: scroll;
}

.host-list {
	flex: 1;
	text-align: center;
}

.list-left,
.list-right {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.list-left > .host-tile {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.list-left button {
	opacity: unset;
	background: white url('/img/right-arrow.svg') center/1em auto no-repeat;
}

.list-right button {
	opacity: unset;
	background: white url('/img/left-arrow.svg') center/1em auto no-repeat;
}

.list-right > .host-tile {
	display: flex;
	flex-direction: row-reverse;
	justify-content: start;
}

@media (pointer: fine) and (min-width: 768px) {
	.game-container {
		flex-direction: row;
		flex: 1;
		max-height: 90%;
	}

	.tab-content#admin-tabs-content {
		max-height: calc(100% - 10vh);
		box-sizing: border-box;
	}

	.tab-content#round-tab-content {
		max-height: 100%;
	}

	.round-container {
		max-height: 90vh;
		height: 100%;
	}

	.round-container hr {
		width: 10%;
	}
	#round-tabs {
		display: flex;
		flex-direction: column;
	}

	#round-tabs.nav-tabs {
		border-bottom: unset;
		border-right: 1px solid #dee2e6;
	}

	.warning-circle {
		top: 25%;
		left: 15%;
	}

	.game-container .nav-tabs .nav-link {
		border-radius: 0.25rem 0 0 0.25rem;
	}
}

.invisible-div {
	display: none;
}
