.team-container,
.team-setup {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

#create-team {
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}

#team-wrapper,
#game-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

#team-roster,
#game-roster {
	flex: 1;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#team-chat-wrapper,
#game-chat-wrapper {
	flex: 2;
	display: flex;
	flex-direction: column;
}

.inactive {
	color: gray;
}

.team-list-container {
	flex: 1;
	overflow-y: hidden;
}

.team-list {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

.team-list > .team-tile {
	display: flex;
	margin: 10px;
}

.team-name-label {
	flex: 1;
	font-weight: bold;
	margin: 10px;
}

/* #team-chat {
	display: flex;
	flex-direction: column;
} */

.answer-container {
	padding: 10px;
}

#team-answer-container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
}

.team-answer-line {
	display: flex;
	margin: 5px;
}

.team-answer-line > span {
	font-weight: bold;
	margin: auto 5px;
}
.team-answer-line > input,
.team-answer-line > .answer-display,
.team-answer-line > button {
	flex: 1;
}

.answer-display {
	background-color: #ccc;
	font-weight: bold;
	color: black;
	padding: 0 5px;
}

@media (min-width: 1000px) {
	#team-tabs {
		display: none;
	}

	#team-tabs-content {
		display: flex;
	}

	#team-chat {
		all: unset;
		flex: 2;
	}

	#team-answers {
		all: unset;
		flex: 2;
	}
}
