:root {
	--color-1: #434491;
	--color-2a: rgb(4, 73, 171);
	--color-2: rgba(4, 73, 171, 0.5);
	--color-3a: rgb(34, 46, 115);
	--color-3: rgb(0, 14, 92);
	--section-color: rgba(240, 240, 240, 0.1);
	--sub-section-color: #e4e4e4;
	--header-ht-m: 7vh;
	--header-ht-d: 10vh;
	--gradient-left: #010204;
	--gradient-right: #014488;
}

html,
body {
	margin: 0px;
	padding: 0px;
	color: yellow;
	background-image: linear-gradient(
		to right,
		var(--gradient-left),
		var(--gradient-right)
	);
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	font-size: min(min(16px, 2vh), 2vw);
	background-size: cover;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
	height: 100%;
	max-height: 100%;
	scrollbar-width: thin;
}

#game-message {
	z-index: 2000;
}

.carousel-item {
	transition: transform 0.1s ease-in-out;
}

.message {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
	width: fit-content;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
	padding: 10px;
	opacity: 1;
	font-weight: bold;
	transition: opacity 0.25s ease-in-out;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
}

a,
a:hover,
a:visited {
	color: yellow;
	text-decoration: underline;
	cursor: pointer;
}

.top-navbar {
	overflow: hidden;
	top: 0;
	position: fixed;
	z-index: 10;
	height: var(--header-ht-m);
	width: 100%;
	color: yellow;
	font-size: 2vh;
	background-image: linear-gradient(to right, #010204, #014488);
}

.title-div {
	position: absolute;
	z-index: 5;
	color: white;
	font-size: 3vh;
	font-weight: bold;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.navbar-content {
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}

.left-side {
	display: flex;
	flex-direction: row;
}

.name-div {
	display: flex;
}

.name-div > p {
	margin: auto;
}

.logo-image {
	height: 80%;
	margin: auto 20px;
}

.logo-image img {
	height: 100%;
}

#play-now {
	position: relative;
}

.live-now {
	position: absolute;
	top: 100%;
	left: 0%;
	transform: translate(-50%, -100%);
	z-index: 100;
	border-radius: 1vh;
	height: 2vh;
	background-color: yellow;
	color: black;
	font-size: 1vh;
	font-weight: bold;
	padding: 0.5vh;
	white-space: nowrap;
}

.main-content {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: calc(100% - var(--header-ht-m));
	max-height: calc(100% - var(--header-ht-m));
	top: var(--header-ht-m);
	overflow-y: scroll;
	overflow-x: hidden;
}

.modal {
	max-height: 90% !important;
	color: yellow;
}

.modal-content {
	border: 2px solid yellow;
	background-color: var(--color-3);
}

.banner {
	width: 100%;
	max-height: 500px;
	position: relative;
}

.banner > img {
	width: 100%;
	max-height: 500px;
	object-fit: cover;
	filter: blur(3px) brightness(75%);
	-webkit-filter: blur(3px) brightness(75%);
	transform: scale(1.1);
}

.menu-button {
	height: 70%;
	border-radius: 5px;
	border: 2px solid #ffff00;
	background: transparent;
	margin: auto 5px;
}

.menu-button img {
	width: 100%;
	height: 100%;
}

.menu-content > ul > li:hover {
	background-color: var(--color-2a);
	cursor: pointer;
}
.menu-content {
	display: none;
}
.menu-content-mobile {
	position: fixed;
	text-align: right;
	right: 0;
	z-index: 9;
	font-size: 3vh;
	background-color: var(--color-3);
	-webkit-transition: top 0.2s ease-out;
	-moz-transition: top 0.2s ease-out;
	-ms-transition: top 0.2s ease-out;
	-o-transition: top 0.2s ease-out;
	transition: top 0.2s ease-out;
}

.menu-content-mobile a {
	text-decoration: none;
}

.nav-link {
	color: yellow;
	font-weight: bold;
}

.nav-link.active {
	background-color: #ccc !important;
}
.tab-content {
	flex: 1;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.tab-pane.active {
	width: 100%;
	height: 100%;
}
.tab-wrapper {
	display: flex;
	width: 100%;
	height: 100%;
}

.tab-inner {
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 10px;
	overflow-y: hidden;
}

.nav-item {
	position: relative;
}

.warning-circle {
	position: absolute;
	z-index: 8;
	top: 25%;
	left: 85%;
	background-color: orange;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	border: none;
}

li.navlink {
	display: flex;
	padding: 10px;
}

.navlink {
	cursor: pointer;
}

.navlink > a {
	width: 100%;
	height: 100%;
	display: flex;
}

.navlink > a > div {
	margin: auto;
}

.navlink-inner {
	padding: 15px;
}
.navlink-inner,
.navlink-inner > p {
	margin: auto;
	display: flex;
}

.menu-content-mobile .navlink {
	border: 1px solid yellow;
	padding: 10px;
}

.menu-content > ul {
	display: inline-flex;
	margin: 0;
}

.menu-content > ul > li {
	display: inline-flex;
	flex: 1;
}

.menu-content > ul > li > a {
	margin: auto;
	text-decoration: none;
}

.section-content {
	width: 90%;
	flex-direction: column;
	align-items: center;
}

.section-content > p {
	margin-bottom: 6vh;
}

.grid-display {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.sample-round-container {
	display: flex;
	max-width: 400px;
	flex-direction: column-reverse;
	align-items: flex-start;
}

.service-tile {
	margin: 20px;
}

.service-tile > .icon-container {
	display: flex;
}

.service-desc {
	text-align: center;
}

.icon-container > img {
	height: 150px;
	margin: auto;
}

.banner-text {
	position: absolute;
	color: white;
	font-weight: bold;
	font-style: italic;
	font-size: 3vh;
	opacity: 0;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.banner-logo {
	width: 30%;
	left: 25%;
	top: 75%;
	background-color: unset;
	transform: translate(-50%, -50%);
}

.banner-logo > img {
	width: 100%;
}

.fade-in {
	-webkit-transition: opacity 2s ease-out;
	-moz-transition: opacity 2s ease-out;
	-ms-transition: opacity 2s ease-out;
	-o-transition: opacity 2s ease-out;
	transition: opacity 2s ease-out;
}

.body-section {
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: 40px auto;
	align-items: center;
	border-radius: 10px;
	padding: 10px;
	backdrop-filter: blur(5px);
	background-color: var(--section-color);
	box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 145, 0.2);
}

.body-section > div {
	margin: 20px;
}

.section-title {
	text-align: center;
	font-size: max(3vw, 3vh);
	margin: 0;
	font-weight: bold;
}

.section-content {
	margin: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.section-content-media {
	flex: 1;
	max-width: 40%;
}

.section-content-media > img {
	width: 100%;
	border-radius: 50%;
}

.slideshow-container {
	width: 100%;
	border: 1px solid white;
	background-color: #1b212c;
	position: relative;
	color: white;
	margin: 20px auto;
}

.slideshow-container .emphasis {
	color: yellow;
	font-weight: bold;
}

.carousel-inner {
	width: 100%;
	height: 100%;
}

.carousel-item {
	width: 100%;
	height: 100%;
	position: relative;
}

.carousel-item > .slide-contents {
	width: 100%;
	height: 100%;
	padding: 5% 8% 10% 12%;
	display: flex;
	flex-direction: column;
	font-size: min(16px, 2vh);
}

.slide-contents > div {
	padding: 0 3%;
}

.slide-content-wrapper {
	display: flex;
}

.slide-contents > .slide-header {
	flex: 2;
}

.slide-contents > .slide-body {
	flex: 6;
}

.slide-contents .slide-footer {
	flex: 1;
	cursor: pointer;
}

.fill-container {
	width: 100%;
	margin: auto;
}

.flair-div {
	position: absolute;
	left: 0%;
	top: 8%;
	width: 12%;
	height: 15%;
}

.flair-div.d1 {
	clip-path: polygon(0 3.2%, 0 41.6%, 38.4% 80%, 77.6% 80%);
	background-color: #0145ac;
}
.flair-div.d2 {
	clip-path: polygon(22.4% 22.4%, 61.6% 22.4%, 100% 60.8%, 100% 100%);
	background-color: #82c7a5;
}

.contact-container {
	width: 100%;
	align-items: center;
	position: relative;
}

.form-container {
	padding: 10px;
}
.form-container input,
.form-container textarea {
	background-color: #444444;
	color: white;
}

.form-container input:focus,
.form-container textarea:focus {
	background-color: #444444;
	color: white;
}

@media (pointer: fine) {
	.top-navbar {
		height: var(--header-ht-d);
	}

	.live-now {
		border-radius: 1vh;
		height: 3vh;
		font-size: 1.5vh;
		padding: 0.5vh;
	}

	.main-content {
		top: var(--header-ht-d);
		height: calc(100% - var(--header-ht-d));
		max-height: calc(100% - var(--header-ht-d));
	}

	.banner-text {
		font-size: 3vw;
	}

	@media (min-width: 1200px) {
		.grid-display {
			all: unset;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-content: space-between;
			column-gap: 20px;
		}
	}

	.section-content-media {
		max-width: 25%;
	}

	.menu-content > ul > li {
		font-size: 3vh;
	}

	.slideshow-container {
		max-width: min(600px, 100%);
	}

	.contact-container {
		width: 40%;
	}
}

@media (min-width: 600px) {
	.banner-logo {
		left: 50%;
		top: 50%;
		width: 15%;
		transform: translate(-50%, -50%);
	}
}

@media (min-width: 768px) {
	.menu-content {
		all: unset;
		display: flex;
	}

	.menu-content-mobile {
		display: none !important;
	}

	.menu-button {
		display: none;
	}
}

footer {
	text-align: center;
}

.cenetered {
	margin: auto;
}

.invisible-div {
	display: none !important;
}

.btn-close {
	background: transparent url('/img/close.svg') center/1em auto no-repeat;
}
