.round-container
    h5 Game Information
    h6 Use **two asterisks** for #[span(style="font-weight:bold;") bold text]
    .input-container
        .input-label Title
        input.warning#game-title(type='text')
    .input-container
        .input-label Description
        textarea.warning#game-desc(rows="4" columns="40")
    .input-container
        .question-container-bottom 
            .input-container
                .input-label Game Date
                input.warning#game-date(type="date")