.round-container
    h5 Game Information
    h6 Use **two asterisks** for #[span(style="font-weight:bold;") bold text]
    .input-container
        .input-label Title
        input.warning#game-title(type='text')
    .input-container
        .input-label Description
        textarea.warning#game-desc(rows="4" columns="40")
    .input-container
        .input-label Game Date
        input.warning#game-date(type="date")
    .input-container 
        .input-label Hosts 
        .host-list-container
            .no-hosts (None)
            #host-list-container
    label.image-upload-label(for="add-host" data-bs-toggle="modal" data-bs-target="#host-modal") Add/Remove Hosts
    button.image-upload#add-host(data-bs-toggle='modal' data-bs-target="#host-modal")
    