.round-container
    h5 Game Information
    h6 Use **two asterisks** for #[span(style="font-weight:bold;") bold text]
    .question-container
        .question-label Title
        input#game-title(type='text')
    .question-container
        .question-label Description
        textarea#game-desc(rows="4" columns="40")
    .question-container
        .question-container-bottom 
            .question-container
                .question-label Game Date
                input#game-date(type="date")