.modal.fade#create-gig-modal(tabindex="-1" aria-labelledby="create-gig-label" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
        .modal-content#create-gig-modal-content
            .modal-header
                h5.modal-title#create-gig-label Create New Gig
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                form#new-gig-modal-form
                    input#edit-gig-id(type='hidden' value='')
                    label.form-label(for="venue-select") Venue:
                    .input-group.mb-3
                        select#venue-select(name="venue-select")
                    label.form-label(for="gig-date") Date:
                    .input-group.mb-3
                        input#gig-date(type="date")
                    label.form-label(for="game-select") Game:
                    .input-group.mb-3
                        select#game-select(name="game-select")
                    label.form-label(for="time") Time:
                    .input-group.mb-3
                        select#hour
                            - var i = 1
                            - while (i <= 12)
                                - if (i == 7)
                                    option(value=`${i}` selected)= i
                                - else 
                                    option(value=`${i}`)= i
                                - i++
                        span(style="margin-left:5px;margin-right:5px;") :
                        select#minute
                            option(value="00") 00
                            option(value="15") 15
                            option(value="30") 30
                            option(value="45") 45
                        span(style="margin-left:5px;margin-right:5px;")
                        select#ampm
                            option(value="am") AM
                            option(value="pm" selected) PM
                    .input-container 
                        .input-label Hosts 
                        .host-list-container
                            .no-hosts (None)
                            #host-list-container
                        label.image-upload-label(for="add-host" data-bs-toggle="modal" data-bs-target="#host-modal") Add/Remove Hosts
                        button.image-upload#add-host(type="button")
                        //- button.image-upload#add-host(type="button" data-bs-toggle='modal' data-bs-target="#host-modal")
            .modal-footer
                button.btn.btn-secondary#cancel-create-gig(type="button" data-bs-dismiss="modal") Cancel
                button.btn.btn-primary#confirm-create-gig(type="submit" form="new-gig-modal-form") Add