.modal.fade#user-created-modal(tabindex="-1" aria-labelledby="user-created-label" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
        .modal-content#user-created-modal-content
            .modal-header
                h5.modal-title#user-created-label User created
            .modal-body
                p Successfully created user. User must check e-mail and activate account within one week.
            .modal-footer
                button.btn.btn-primary(type="button" data-bs-dismiss="modal") OK
